body {
    margin: 0;
    overflow: hidden;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
}

ul {
    list-style-type: none;
}

li {
    display: list-item;
    text-align: center;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

h1 {
    font-size: 32px;
    color: #F9FAF8;
}

img {
    height: 300px;
    width: auto;
}

.top {
    background: #1F2937;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.links {
    display: flex;
    flex-flow: row wrap;
    gap: 18px;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-body {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex: 1;
}

.description {
    max-width: 550px;
    color: #E5E7EB;
}

.header-image {
    margin: 32px;
}